@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Open-Sans, sans-serif;
	font-size: 16px;
	line-height: 1.8em;
}

p {
	font-size: 1em;
	margin-bottom: 40px;
}

nav {
	width: 100%;
	background-color: #ddd;
	padding: 40px;
	margin-bottom: 40px;
	overflow: hidden;
}

nav ul {
	max-width: 800px;
	margin: 0 auto;
}

nav li {
	list-style-type: none;
	display: inline;
	font-size: 1.2em;
	padding: 20px;
}

main {
	max-width: 800px;
	padding: 0 1.5em;
	margin: 0 auto;
}

h1 {
	font-size: 2.5em;
	line-height: 1.4em;
	margin-bottom: .2em;
	border-bottom: 2px solid #ddd;
}

h2 {
	font-size: 1.6em;
	line-height: 1.8em;
}

.sprite-demo {
	width: 30px;
	height: 40px;
	background: url(example_sprite_sheet.png);
	background-repeat: no-repeat;
	background-position-x: -25px;
	background-position-y: -6px;
	margin-bottom: 40px;
}

 #checkmark {
   fill: red;
 }
 #checkmark:hover {
   fill: blue;
 }
 circle {
   stroke: #006600;
   fill  : #00cc00;
 }
 circle:hover {
   stroke: darkblue;
   fill  : lightblue;
 }

